@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	height: 100vh;
	overflow: hidden;
}

// HEADER

.header {
	width: 100%;
	height: 80px;
	background-color: $aqua;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__wrapper {
		display: flex;
		align-items: center;
		color: $white;
		font-size: 1.5rem;
		padding: 1rem;
	}

	&__icon {
		font-size: 3rem;
		padding: 2rem;
		cursor: pointer;
		transition: transform 0.4s;
		&:hover {
			transform: scale(1.1);
		}
	}

	&__title {
		padding: 1rem;
		font-size: 2rem;
	}
}

// SIDEBAR

.sidebar {
	padding-top: 1rem;
	width: 300px;
	min-height: 100vh;
	background-color: $black;
}

.menu {
	&__item {
		&--wrapper {
			display: flex;
			padding: 4rem;
			cursor: pointer;
			opacity: 0.5;
			max-width: 300px;
			transition: opacity 0.4s, border-left 0.4s, background-color 0.4s;
			&:hover {
				opacity: 1;
				border-left: 10px solid $aqua;
				background-color: rgba(0, 180, 204, 0.2);
				max-width: 300px;
			}
		}
	}

	&__icon {
		color: $white;
		font-size: 2rem;
		margin-right: 3rem;
	}

	&__title {
		color: $white;
		font-size: 1.7rem;
	}
}

.main {
	display: flex;
}

// MAIN

.center {
	width: 100vw;
	height: 100vh;
	background-image: url('../src/assets/header__big_3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	&__shadow {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: 1;
	}

	&__menu {
		position: absolute;
		width: 100px;
		height: 500px;
		bottom: 10px;
		right: 0;
		margin: 2rem;
		margin-bottom: 10rem;
		// background-color: red;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: column;

		&--addWrapper {
			width: 75px;
			height: 75px;
			border-radius: 50%;
			background-color: rgba(236, 146, 28, 0.8);
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: background-color 0.4s;
			z-index: 3;
			&:hover {
				background-color: $oragne;
			}
		}

		&--addIcon {
			font-size: 2.5rem;
		}

		&--expandedWrapper {
			position: relative;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			display: flex;
			margin-bottom: 3rem;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			transition: background-color 0.4s;
			background-color: rgba(235, 235, 235, 0.8);
			z-index: 3;

			&:hover {
				background-color: $white;
				.center__menu--expendedHover {
					display: flex;
				}
			}
		}

		&--expandedIcon {
			font-size: 3rem;
			color: $black;
		}

		&--expendedHover {
			position: absolute;
			display: none;
			right: 125px;
			width: 200px;
			height: 50px;
			border-top-left-radius: 8px;
			border-bottom-left-radius: 8px;
			background-color: rgba(235, 235, 235, 0.8);
			align-items: center;
			padding: 1rem;
			font-size: 2rem;

			&::after {
				content: '';
				position: absolute;
				top: 0;
				right: -25px; /* Adjust the distance of the triangle from the right side */
				width: 0;
				height: 0;
				border-top: 25px solid transparent; /* Adjust triangle size */
				border-bottom: 25px solid transparent; /* Adjust triangle size */
				border-left: 25px solid rgba(235, 235, 235, 0.8); /* Adjust triangle color to match rectangle */
			}
		}
	}
}

// STICKY NOTE

.stickyNote {
	&__wrapper {
		position: relative;
		background-color: rgba(235, 235, 235, 0.8);
		z-index: 2;
		width: 300px;
		max-height: 200px;
		margin: 2rem;
		border-radius: 8px;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
	}

	&__title {
		font-size: 1.4rem;
	}

	&__icon {
		font-size: 2rem;
		cursor: pointer;
	}

	&__textarea {
		background-color: transparent;
		border: none;
		padding: 0.5rem;
		width: 100%;
		height: 85%;
		font-family: inherit;
		resize: none;
		&:focus {
			outline: none;
		}
	}
}
